.footer-container {
    background-color: #FFFDF7;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-contact-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #1C1C1C;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

.social-icon-link {
    color: #1C1C1C;
    font-size: 24px;
    padding: 0.5rem;
}