.hero-container {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.hero-container p {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1c1c1c;
    text-align: left;
    font-size: 30px;
}