
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #FFFDF7;
    color: #1C1C1C;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 150px;
}

.container {
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;

}

.navbar-logo {
    justify-self: start;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.navbar-icon {
    height: 50px;
    margin-right: 0.5rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
}

.nav-item {
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid transparent;
    padding-right: 15px;
}

.nav-item:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.nav-links {
    color: #1C1C1C;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.activated {
    border-bottom: 2px solid #1C1C1C;
}

.fa-bars {
    color: #1C1C1C;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #fffdf7;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #695E52;
        transform: scale(1.2);
        transition: all 0.3s ease;
      }

      .nav-item:hover {
        border: none;
      }

      .activated {
          border: none;
      }

      .nav-item {
        width: 100%;
      }
    
      .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 10px;
        padding-left: 10px;
        transform: translate(25%, 50%);
      }

      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 5px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
}



